.app {
    overflow: hidden;
}

.top-header {
    /* height: 45px; */
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: var(--primary-color);
    font-family: "Quicksand", sans-serif;
}

.header__nav-search {
    height: var(--header-with-search);
    display: flex;
    justify-content: space-between;
}

.contact {
    display: flex;
    align-items: center;
}

.nav-item,
.contact {
    font-size: 1.4rem;
    line-height: 1.4rem;
    color: var(--white-color);
}

.header__nav-list {
    display: flex;
    align-items: center;
    position: relative;
}

a.nav-item {
    margin-left: 30px;
    cursor: pointer;
    position: relative;
    height: 100%;
    display: flex;
    align-items: center;
}

a.contact-phone {
    text-decoration: none;
    color: var(--white-color);
    cursor: pointer;
}

a.contact-phone:hover,
a.nav-item:hover {
    color: var(--text-color);
}

.nav-cart {
    position: relative;
}

.header__cart-notice {
    border-radius: 50%;
    position: absolute;
    top: 22px;
    left: 10px;
    width: 20px;
    height: 20px;
    font-size: 1.2rem;
    line-height: 20px;
    background-color: var(--white-color);
    color: var(--primary-color);
    text-align: center;
}

.nav__form-search {
    /* display: flex; */
    position: absolute;
    top: 5px;
    right: -12px;
    z-index: 1;
    display: none;
    animation: fadeIn .25s;
}

.search-input {
    outline: none;
    border: none;
    padding: 8px 12px;
    border-radius: 100px 0 0 100px;

}

.search-btn {
    outline: none;
    border: none;
    padding: 8px;
    border-radius: 0 100px 100px 0;
    background-color: var(--white-color);

}

.item-hover:hover .nav__form-search {
    display: flex
}

.user-option {
    list-style: none;
    padding: 8px;
    margin: 0;
    background-color: var(--white-color);
    /* background-color: orange; */
    color: var(--text-color);
    font-size: 1.5rem;
    width: 110px;
    position: absolute;
    top: 100%;
    left: 0;
    display: none;
    z-index: 10;
    box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.1);
    animation: fadeIn .5s;
}

.user-option>.item-option:hover {
    color: var(--primary-color);
}

/* mũi tên */
.user-option::before {
    content: '';
    border-width: 5px 8px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
    position: absolute;
    right: 50%;
    top: -10px;
    z-index: 3;
}

.nav-user-menu::after {
    content: '';
    display: block;
    position: absolute;
    top: 68%;
    right: 0;
    width: 100%;
    height: 14px;
    /* background-color: red; */
}

.item-option {
    padding: 8px;
}

.nav-user-menu:hover .user-option {
    display: block;
}


/* phần giỏ hàng */

.header__cart-list {
    width: 340px;
    min-height: 73px;
    max-height: 460px;
    background-color: var(--white-color);

    position: absolute;
    top: 100%;
    right: 0;
    box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.1);
    z-index: 10;
    display: none;
    animation: fadeIn .5s;
}

.nav-cart::before {
    content: '';
    width: 85px;
    height: 10px;
    position: absolute;
    bottom: 3%;
    left: 0;
    z-index: 2;
    /* background-color: red; */
}

.nav-cart:hover .header__cart-list {
    display: flex;
}

.header__cart-list::before {
    content: '';
    border-width: 5px 8px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
    position: absolute;
    right: 35px;
    top: -10px;
    z-index: 9;

}

.cart-empty {
    font-size: 1.4rem;
    line-height: 1.4rem;
    line-height: 43px;
    color: var(--text-color);
    align-self: center;
    padding-left: 16px;
    display: none;
}

.header__cart-list-item {
    width: 100%;
}

ul.cart-list {
    list-style: none;
    /* padding: 0; */
    padding: 24px 30px;
    margin: 5px 0;
    max-height: 300px;
    overflow-y: auto;
}

.cart-item {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
    border-top: 1px solid #eaebf3;

}

li.cart-item:first-child {
    border-top: none;
}

.cart-item-img {
    width: 85px;
    height: 85px;
    border: 1px solid var(--border-color);
}

.cart-item-info {
    display: flex;
    flex-direction: column;
    margin-right: 40px;
}

.product-name {
    font-size: 1.4rem;
    font-weight: 300;
    color: var(--text-color);
    max-width: 74px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.product-price:hover {
    color: var(--text-color);
}

.product-price {
    font-size: 1.4rem;
    font-weight: bold;
    color: var(--primary-color);
    margin: 13px 0;
}

.product-quantity {
    width: 80px;
    padding: 5px;
}

.remove-item:hover {
    color: var(--primary-color)
}

.total-money-wrap {
    padding: 0 30px;
}

.total-money {
    /* padding: 10px 30px; */
    padding: 10px 0;
    border-top: 1px solid var(--border-color);
    border-bottom: 1px solid var(--border-color);
}

.text {
    font-size: 1.6rem;
    color: var(--text-color);
    line-height: 30px;
}

.total-pay {
    font-size: 1.6rem;
    color: var(--primary-color);
    font-weight: bold;
    line-height: 30px;
    float: right;
}

.pay {
    margin: 20px 0;
    display: flex;
    justify-content: center;
}

/* Main header */

.main-header {
    background-color: var(--white-color);
    /* background-color: yellowgreen; */
    width: 100%;
    font-family: "Quicksand", sans-serif;
    /* display: flex; */
}

.header-with-logo {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;

    max-width: 1170px;
    margin: auto;
}

.left-header {
    flex: 1;
}

.right-header {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

.list-menu {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    /* justify-content: space-around; */
    height: 100%;
    align-items: center;
}

.menu-item {
    color: var(--text-color);
    line-height: 1.7;
    font-size: 1.6rem;
    font-weight: 700;
    padding: 24px;
}

.list-product {
    background-color: #fff;
    position: absolute;
    top: 80%;
    left: 20%;
    width: 200px;
    box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.1);
    z-index: 10;
    animation: fadeIn .5s;
    display: none;
}

.list-product-item {
    list-style: none;
    padding: 0 12px;
    margin: 0;
}

li.menu-item>a {
    text-decoration: none;
    color: var(--text-color)
}

li.product-item>a {
    text-decoration: none;
    color: var(--text-color);
    font-weight: 300;
}

.list-item {
    position: relative;
}

.list-item::after {
    content: '';
    background-color: transparent;
    width: 100%;
    height: 20px;
    position: absolute;
    bottom: 13%;
    left: 25px;
    z-index: 1;
}


li.menu-item:hover .list-product {
    display: block;

}

.product-item {
    padding: 6px 0;
    border-top: 1px solid var(--border-color);
}

.product-item:first-child {
    border-top: none;
}

li.menu-item:hover>a,
li.menu-item:hover>i.icon-black,
li.product-item:hover a {
    color: var(--primary-color)
}

li.menu-item.active a {
    color: var(--primary-color);
}


/* header mobile */
.mobile-header {
    height: 140px;
    width: 100%;
    background-color: var(--primary-color);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.nav-mobile {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.mobile-cart {
    position: relative;

}

.header__cart-notice-mobile {
    position: absolute;
    bottom: -5px;
    right: -8px;
    font-size: 1.3rem;
    border-radius: 100%;
    background-color: var(--white-color);
    color: var(--primary-color);
    padding: 0 7px;
}

.search-on-mobile {
    display: flex;
    margin: 0 auto;
    width: 80%;
}

.search-input-mobile {
    padding: 6px 8px;
    width: 100%;
    height: 34px;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    outline: none;
    border-color: transparent;
    font-size: 1.4rem;
}

.search-btn-mobile {
    background-color: var(--white-color);
    outline: none;
    border: none;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}

/* over lay */
.nav__overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.3);
    display: none;
    z-index: 5;
    animation: fadeIn linear 0.2s;
}

.nav__input:checked~.nav__overlay {
    display: block;
}

.nav__input:checked~.nav__mobile {
    transform: translateX(0%);
    opacity: 1;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.nav__mobile-list {
    margin-top: 12px;
    padding: 0;
    list-style: none;
}

.nav__mobile-link {
    text-decoration: none;
    color: #333;
    display: block;
    padding: 8px 20px;
    font-size: 1.5rem;
    position: relative;
}

/* tạo dấu chấm trong nav mobile */
li>a.nav__mobile-link::after {
    content: '';
    position: absolute;
    bottom: 41%;
    left: 8px;
    width: 8px;
    height: 8px;
    border-radius: 8px;
    background-color: var(--primary-color);
}

ul.nav__list-item-mobile>li.border-top.pl-24>a.nav__mobile-link::after {
    background-color: transparent;
    border: 1px solid #d7d7d7;
    /* bottom */
    left: 5px;
}

.nav__mobile {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 320px;
    max-width: 100%;
    background-color: #fff;
    /* đẩy nav này ra khỏi màn hình */
    transform: translateX(-100%);
    opacity: 0;
    z-index: 10;
    transition: transform linear 0.2s, opacity linear 0.2s;
}

.user-login-mobile {
    margin: 20px;
}

.nav__mobile-user-link {
    color: var(--text-color);
    font-size: 1.8rem;
    text-decoration: none;
    font-weight: 500;

}


ul.nav__mobile-list>li {
    border-top: 1px solid var(--border-color);
    padding-left: 12px;
}
.ul.nav__mobile-list>li a:hover{
    color: var(--primary-color);
}

ul.nav__mobile-list>li:first-child {
    border-top: none;
}

ul.nav__mobile-list li.product-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.plus-icon {
    padding-right: 10px;
}

.nav__list-item-mobile {
    margin: 0;
    padding: 0;
    list-style-type: none;
    animation-name: fadeIn;
    animation-duration: .25s;
    display: none;
}

/* Hiện ds sản phẩm trên nav mobile */
.nav__input-product-hidden:checked~.nav__list-item-mobile {
    display: block;
}

/* background */
.slider {
    background: url('../imgs/slider_1.jpg') top center / cover no-repeat;
    padding-top: 50%;
}

/* Phần danh mục sản phẩm */


.list-product-items {
    margin: 60px 0;
}

.top-title {
    font-family: 'UTM Bebas';
    color: var(--text-color);
    font-size: 3rem;
    text-transform: uppercase;
    line-height: 4rem;
    font-weight: 700;
    text-align: center;
    letter-spacing: 0px;
    position: relative;
}

.top-title::before {
    content: '';
    background-image: url('../imgs/title_base.png');
    background-repeat: no-repeat;
    width: 160px;
    height: 27px;
    position: absolute;
    bottom: 100%;
    left: 44%;
}

.home-product-item-type {
    margin-top: 10px;
    cursor: pointer;
}

.home-product-item-type-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 100%;

    background-size: cover;
    background-repeat: no-repeat;
    -webkit-transition: all .25s;
    -moz-transition: all .25s;
    -o-transition: all .25s;
    transition: all .25s;
}

/* hover item */
.home-product-item-type:hover .home-product-item-type-info,
.product-title:hover .home-product-item-type-info {
    -ms-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -o-transform: scale(1.05);
    transform: scale(1.05);
}

.product-title:hover {
    color: var(--primary-color);
}

.product-title {
    color: var(--text-color);
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 1.4;
    display: flex;
    justify-content: center;
    margin: 0;
    cursor: pointer;
}



/* why choose */
/* Tại sao lại chọn chúng tôi */
.why-choose {
    background-image: url('../imgs/bg_why.jpg');
    height: 100%;
    width: 100%;
    padding: 90px 0 150px 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-bottom: 90px;
}

.why-choose .top-title {
    text-align: left;
    margin-bottom: 25px;
}

.why-choose .top-title::before {
    left: 22%;
}

.sub-top-title {
    font-size: 1.8rem;
    font-weight: 500;
    margin: 25px 0 50px 0;

}

.group-list-reason ul {
    list-style-type: none;
    margin: 50px 0 0 0;
    padding: 0;
}

.group-list-reason ul li {
    display: flex;
    justify-content: flex-start;
    padding: 10px 0;
}

.group-list-reason ul li h3 {
    font-size: 2rem;
    font-weight: 600;
    margin: 0 0 10px 0;
}

.group-list-reason ul li .sub-title {
    font-size: 1.6rem;
    font-weight: 400;
}

.icon-why {
    max-width: 60px;
    height: auto;
}

.reason-title {
    padding: 0 32px 0 16px;
}

/* Menu today */
ul.product-type__list {
    margin: 0;
    list-style-type: none;
    display: flex;
    justify-content: center;
    /* padding-left: 0; */
    max-width: 100%;
    overflow-x: auto;
}

li.product-type__item.active {
    background-color: var(--primary-color);
}

li.product-type__item.active>a.product-type__link {
    color: var(--white-color);
}

.product-type__item {
    /* height: 50px; */
    /* margin: 0 10px; */
    min-width: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    margin-right: 10px;
    border-radius: 50px;
    background-color: var(--white-color);
    border: 1px solid var(--border-color);
}

.product-type__item:hover {
    background-color: var(--primary-color);
}

.product-type__item:hover>a.product-type__link {
    color: var(--white-color)
}

.product-type__link {
    color: var(--text-color);
    text-decoration: none;
    font-size: 1.6rem;
    padding: 10px 25px;
    font-weight: 550;
    overflow: hidden;
    text-align: center;
}

/* list product items */
/* danh sách sản phẩm kèm giá*/
.product-thumbnail {
    display: block;
    text-decoration: none;
    margin-top: 10px;
    background-color: var(--white-color);
    border-radius: 2px;
    text-align: center;

}

.border-img {
    border: 1px solid var(--border-color);
    overflow: hidden;
    position: relative;
}

.img-thumbnail {
    padding-top: 100%;
    
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;


    -webkit-transition: all .25s;
    -moz-transition: all .25s;
    -o-transition: all .25s;
    transition: all .25s;
}

.img-thumbnail:hover {
    -ms-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -o-transform: scale(1.05);
    transform: scale(1.05);
}

.item-name {
    font-size: 1.8rem;
    font-weight: 540;
    color: var(--text-color);
    text-transform: uppercase;
    line-height: 1.8rem;
    margin: 20px 10px 0 10px;
    /* height: 3.6rem; */
}

.item-price {
    font-size: 1.6rem;
    color: var(--text-color);
    text-transform: uppercase;
}

.add-to-cart-btn {
    width: 100%;
    height: 44px;
    font-size: 1.6rem;
    font-weight: 600;
    color: var(--white-color);
    background-color: var(--primary-color);
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    border: none;
    outline: none;
    cursor: pointer;
    z-index: 5;
    transition: .5s;
    display: none;
}

.product-thumbnail:hover .add-to-cart-btn {
    animation: hover-imagecategory 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94) 1;
    display: block;
}

.add-to-cart-btn:hover {
    background-color: var(--text-color);
}

.product-thumbnail .item-name:hover {
    color: var(--primary-color)
}

/* hiệu ứng khi hover sản phẩm */
@keyframes hover-imagecategory {
    0% {
        transform: perspective(200px) rotate3d(0, 1, 0, -90deg) translateX(-100%)
    }

    100% {
        transform: perspective(200px) rotate3d(0, 1, 0, 0deg) translateX(0px)
    }
}

/* Thời gian mở cửa (time open) */

.time-open {
    margin-top: 70px;
    margin-bottom: 120px;
}

.left-module {
    background-color: var(--primary-color);
    min-height: 443px;
    position: relative;
    color: var(--white-color);
    padding: 90px;
}

.time-open .top-title {
    color: var(--white-color);
    text-align: left;
    margin-bottom: 20px;
}

.time-open .top-title::before {
    background-image: url('../imgs/title_base_2.png');
    left: 10%;
}

.time-open__sub {
    font-size: 1.6rem;
    font-weight: 400;
    margin-bottom: 30px;
}

.time-open-detail {
    margin-bottom: 30px;
    font-size: 1.7rem;
    font-weight: 500;
}

.time-open-detail>p {
    margin: 0;
}

.book-now {
    text-decoration: none;
    color: var(--primary-color);
    background-color: var(--white-color);
    font-size: 1.6rem;
    font-weight: 450;
    padding: 15px 38px;
    margin-top: 10px;
    display: inline-block;
    border-radius: 50px;
    border: 1px solid var(--white-color)
}

.book-now:hover {
    background-color: var(--primary-color);
    color: var(--white-color);
}

.left-module::before {
    content: '';
    background-image: url('../imgs/vector_datban.png');
    background-repeat: no-repeat;
    width: 225px;
    height: 201px;
    position: absolute;
    right: 10px;
    bottom: 0;
    z-index: 2;
}

.bg-right {
    background-image: url('../imgs/banner_time_open.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
    width: 486px;
    height: 420px;
    margin-left: -15px;
    margin-top: 11px;
}

/* Tin tức nổi bật top news */

.top-news>.top-title {
    margin-bottom: 45px;
}

.top-news a.news {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: var(--text-color);
    padding: 0 12px;
}
.news-img-thumbnail{
    max-width: 360px;
    height: 324px;
    overflow: hidden;
}
.top-news .news-img {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    -webkit-transition: all .25s;
    -moz-transition: all .25s;
    -o-transition: all .25s;
    transition: all .25s;
}

.top-news .news-img:hover {
    -ms-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -o-transform: scale(1.05);
    transform: scale(1.05);
}
h3.news-title {
    font-size: 1.7rem;
    font-weight: 600;
    padding-right: 20px;
}
h3.news-title:hover{
    color: var(--primary-color);
}
.top-news .news-sub-title {
    font-size: 1.4rem;
    font-weight: 400;
    padding-right: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
}
.carousel-cell{
    width: 33.333%;
    margin: 0 -10px;
    padding: 0 10px;
}


/* footer */
.footer{
    width: 100%;
    background-image: url('../imgs/bg_footer.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 95px 20px 0 20px;
    margin-top: 70px;
}
.footer a{
    text-decoration: none;

}
.footer .logo{
    width: 100%;
    height: 93px;
}
.footer .footer-text{
    font-size: 1.6rem;
    font-weight: 500;
    color: var(--white-color)
}
.footer .list-social a{
    display: inline-block;
    width: 30px;
    height: 30px;
    text-decoration: none;
    margin: 0 5px;
    border-radius: 50%;
    line-height: 30px;
    text-align: center;
}
.footer .list-social a i{
    margin-top: 6px;
}
.footer .list-social a:hover{
    background-color: var(--white-color);
}
.footer .footer-title{
    font-size: 2rem;
    color: var(--primary-color);
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 60px;
}

.footer .adress,
.footer .hotline{
    display: flex;
}
.footer .adress .footer-text,
.footer .hotline .footer-text{
    margin-left: 16px;
    line-height: 1.7;
}
.footer .adress i,
.footer .hotline i{
    padding-top: 4px;
}
.footer .hotline .footer-text a{
    text-decoration: none;
    color: var(--white-color);
}
.footer .hotline .footer-text a:hover{
    color: var(--primary-color);
}

.footer .subscribe{
    display: flex;
    position: relative;
}
.footer .subscribe .subscribe-input-email{
    display: block;
    width: 95%;
    height: 60px;
    /* width: 230px; */
    padding: 0px 120px 0 20px;
    border-radius: 100px;
    font-size: 1.6rem;
    z-index: 0;
    border: none;
    outline: none;
}
.footer .subscribe .subscribe-btn{
    display: block;
    height: 60px;
    font-size: 1.5rem;
    font-weight: 500;
    background-color: var(--primary-color);
    color: var(--white-color);
    border-radius: 100px;
    padding: 0 40px;
    z-index: 2;
    position: absolute;
    right: 0;
    border: none;
    outline: none;
}
.footer .subscribe .subscribe-btn:hover{
    background-color: var(--text-color);
}

.border-footer{
    border-bottom: 1px solid var(--border-color);
    padding-top: 60px;
}

.footer-copyright{
    font-size: 1.5rem;
    line-height: 24px;
    color: var(--white-color);
    display: flex;
    justify-content:center;
    margin: 20px 0;
}
.footer-copyright a{
    color: var(--primary-color);
    text-decoration: none;
}